[submodule "system_files/usr/share/gnome-shell/extensions/appindicatorsupport@rgcjonas.gmail.com"]
	path = system_files/usr/share/gnome-shell/extensions/appindicatorsupport@rgcjonas.gmail.com
	url = https://github.com/ubuntu/gnome-shell-extension-appindicator.git
	branch = v65
[submodule "system_files/usr/share/gnome-shell/extensions/blur-my-shell@aunetx"]
	path = system_files/usr/share/gnome-shell/extensions/blur-my-shell@aunetx
	url = https://github.com/aunetx/blur-my-shell.git
	branch = master
