# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=custom-ublue

# Make this the same as your github username/organisation
REPO_ORGANIZATION="izacarias"

IMAGE_DESC="My Customized Bootc Image based on uBlue Project"
IMAGE_KEYWORDS="bootc,oci,linux"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/6042556?s=200&v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
